body {
    font-family: sans-serif;
    font-size: 10pt;
    color: #444444;
    width:760px; 
    margin:auto;
}
header, section {
    border: solid 1px #cccccc !important;
    border-radius:10px;
    box-shadow: 5px 5px 5px #cccccc;
}
section.preheader {
    border-radius:0;
}
header, section, footer {
    overflow: hidden;
    clear: both;
}
header {
    background-color: #007e6d;
    color: #ffffff;
    font-weight: normal;
    margin:10px 0 20px 0;
    padding: 1em .5em;
    text-align: center;
}
header h1 {
    font-size:2em;
    margin:0px;
}
#menu{
    line-height:1.4;
}
#menu a{
    color:white;
}
#menu a.titolo{
    font-size: xx-large;
}
#menu .guida{
    padding: 8px;
}
section {
    margin: 0px 0px 10px 0px;
    padding: 0px 30px 30px 30px;
}
section h1, section h1 *, section h2, section h3, section h4, section h5, section h6 {
    /*  color: #084989; */
    color: #0F5494;
    /*  color: #000000; */
}
.footer {
    margin: 40px 20px 60px 20px;
    font-size: .8em;
    text-align: center;
}
h1, h2, h3 {
    font-weight:normal;
}
dt, dt * {
    color: #777777;
}
input, textarea, select {
    color: #444444;
}
input, select {
    font-size:1em;
}
#src {
    font-size:1.4em;
    width: 100%;
}
#tell, #xmlPicker{
    width:100%;
}
a, code, pre {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
a {
    color: #0f5494;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
code, pre, textarea {
    font-family: monospace;
}
.top20{
    margin-top:50px;
}
.top50{
    margin-top:50px;
}
.bottom50{
    margin-bottom:50px;
}
.top25{
    margin-top:25px;
}
.bottom25{
    margin-bottom:25px;
}
.p25{
    padding:20px;
}

.section_grey_darker{
    clear: both;
}
